<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{common/masterlayout}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/homepage/index.css}" />
    <title>Products Management App - Add a New Product</title>
</head>
<body onload="document.querySelector('#productNumber').focus();">
    <th:block layout:fragment="content">
        <form id="productForm" method="post" action="/prodmgmt/products/new" th:object="${product}">
            <fieldset>
                <legend>New Product Form</legend>
                <input type="hidden" name="productId" th:value="${product.productId}" />
                <div class="form-group">
                    <label for="productNumber">Product Number</label>
                    <span th:if="${#fields.hasErrors('productNumber')}" th:errors="*{productNumber}"
									class="alert alert-danger"></span>
                    <input id="productNumber" name="productNumber" type="text" class="form-control" th:value="${product.productNumber}">
                </div>
                <div class="form-group">
                        <label for="name">Name</label>
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                        class="alert alert-danger"></span>
                        <input id="name" name="name" type="text" class="form-control" th:value="${product.name}">
                </div>               
                <div class="form-group">
                        <label for="unitPrice">Unit Price</label>
                        <span th:if="${#fields.hasErrors('unitPrice')}" th:errors="*{unitPrice}"
                            class="alert alert-danger"></span>
                        <input id="unitPrice" name="unitPrice" type="text" class="form-control" th:value="${product.unitPrice}">
                </div>                
                <div class="form-group">
                        <label for="dateMfd">Date Manufactured</label>
                        <span th:if="${#fields.hasErrors('dateMfd')}" th:errors="*{dateMfd}"
                            class="alert alert-danger"></span>
                        <input id="dateMfd" name="dateMfd" type="date" class="form-control" aria-describedby="dateMfdHelp" th:value="${product.dateMfd}">
                        <small id="dateMfdHelp" class="form-text text-muted">Enter a valid Date.</small>
                </div>    
                <div style="float:right;">
                    <a href="/prodmgmt/products/browse" class="btn btn-outline-warning">Cancel</a>&nbsp;&nbsp;&nbsp;
                    <button id="btnSubmit" type="submit" class="btn btn-outline-success">Add Product</button>
                </div>
            </fieldset>
        </form>
    </th:block>

    <th:block layout:fragment="footer"></th:block>

</body>
</html>